@charset 'UTF-8';

/* nomralize */
@import 'normalize.css';

/* Tachyons */
@import 'tachyons/src/tachyons.css';
@import 'tachyons-columns/src/tachyons-columns.css';
/* Print styles */
@import 'tachyons-print/src/tachyons-print.css';

/* clrs.cc */
@import 'colors.css/src/colors.css';

/* layout */
@import '_vr-reset.css';
@import '_page';
@import '_widths';
@import '_list';
@import '_columns';

ul, p {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.section_header li {
  display: inline-block;
}

.section_header .location {
  font-size: 0.9rem;
  font-weight: 500;
  /* color: grey; */
}

.section_header .duration {
  float: right;
}

header {
  text-align: center;
}

.header_items, .header_items > li {
  display: inline-block;
}

.bump_down {
  margin-bottom: -0.1rem;
}

.section_title {
  border-bottom: 1px solid;
}

