- var l = person.links

header.pv3.ph4.bg-accent.bg-accent-text(class=site.printstyles ? 'dark-gray-p bg-white-p pb0-p' : '')
  h1.f3.mb1: a.link.bg-accent-text(href="/resume/", class=site.printstyles ? 'dark-gray-p' : '')!= person.name
  .cf
    ul.header_items.list.ml0.pl0.mb2.mb0-ns.f5
      li
        +header-link(person.email, 'mailto:' + person.email)
        = ' • '
        = person.location
      li
        +b-header-link(l.linkedin.text, l.linkedin.url)
          +icon(linkedin_icon).dib.h1.w1.ml1.mr1.bump_down
      li
        +b-header-link(l.gh.text, l.gh.url)
          +icon(gh_icon).dib.h1.w1.mr1.bump_down
      li
        +b-header-link(l.so.text, l.so.url)
          +icon(so_icon).dib.h1.w1.ml1.mr1.bump_down

