extends default

block content

  +section-title(title)

  if contents
    div.contents.mb1
      != contents

  if title == 'Experience'
    for exp in collections.experience
      if exp && exp.published
        +experience(exp)

  else if title == 'Education'
    for exp in collections.education
      if exp && exp.published
        +experience(exp)

  else if title == 'Projects'
    for exp in collections.projects
      if exp && exp.published
        +experience(exp)

  +footer
    p: +link('Back to Full Resume', '/resume/')
