extends default

block content

  +section-title(title)
  if title == 'Experience'
    for job in collections.experience
      +experience(job)
  else if title == 'Education'
    for school in collections.education
      +experience(school)
  else if title == 'Projects'
    for project in collections.projects
      +experience(project)

  +footer
    p: +link('Back to Full Resume', '/resume/')
