doctype html
include components/links
include components/columns
include components/section
include components/footer
include components/experience

head
  include partials/head

body.bg-white.bg-light-gray-page.bg-white-p.dark-gray(class= process.env.NODE_ENV == 'print' ? 'helvetica' : 'sans-serif')
  article.mw-page.mv-5-page.center.ma0-p.shadow-2-page.lh-title
    include partials/header

    main.pv3.ph4.bg-white
      block content

        if person.intro
          section.cf.mb4.mb3-ns.mb3-p.ph3
            =person.intro

        if person.proficiencies
          +section-title('Proficiencies')
          +section
            ul.list.ph3
              each items, category in person.proficiencies
                li
                  b= category + ': '
                  span= items.join(', ')

        if site.jobs > 0
          +section-title
            +accent-link('Experience', '/resume/experience')
          +section
            - for (var i = 0; i < site.jobs; i++)
              - if (collections.experience[i])
                +experience(collections.experience[i])

        if site.schools > 0
          +section-title
            +accent-link('Education', '/resume/education')
          +section
            - for (var i = 0; i < site.schools; i++)
              - var edu = collections.education[i]
              - if (edu && edu.published)
                +small_experience(edu)
        //-
          if site.projects > 0
            +section-title
              +accent-link('Projects', '/resume/projects')
            +section
              - for (var i = 0; i < site.projects; i++)
                - if (collections.projects[i])
                  +experience(collections.projects[i])

        if person.email && site.references
          footer
            p.tr
              a.link.mid-gray.underline-hover(href='mailto:' + person.email)= 'References available upon request'

  if site.promolink
    footer.pb4.tc.dn.dn-p.db-page
      p Made with #[+accent-link('Metalsmith Resume', 'https://github.com/lowmess/metalsmith-resume')] by #[+accent-link('@lowmess', 'https://github.com/lowmess/')]
